In [ ]:
# Typecasting / type conversion>> The process of changing the data type of a value/object in python
#why? while executing/ computation operator, There can be mismatch between the data types

In [4]:
"2" + 3

TypeError: can only concatenate str (not "int") to str

In [5]:
a = "2"
b = 3
int(a)+b

5

In [6]:
a = "2"

In [8]:
print(type("2"))
print(type(int("2")))

<class 'str'>
<class 'int'>

In [9]:
#float to Integer
b = 4.5
type(b)
float_value = int(b)
type(float_value)

int

In [14]:
# integer to float
a = 5
type(a)
now_in_float= float(a)
type(now_in_float)

float

In [15]:
now_in_float

5.0

In [25]:
#string to float
a= "3.35"
type(a)

str

In [26]:
float(a)

3.35

In [27]:
a = "Huzaifa"  #Character cannot convert into number or int and float
float(a)

ValueError: could not convert string to float: 'Huzaifa'

In [28]:
# Integer to string
a = 5
type(a)

int

In [35]:
c = str(a)
c

'5'

In [36]:
type(c)

str

In [37]:
#Implicit typecasting>> python understand the datatype, ye apne ap smjh jata h konsa data type h alag se int, float, string ni likhna padta
a = 5
type(a)

int

In [38]:
2 + 4.5

6.5

In [39]:
# Explicit typecasting
a = "4"
type(a)

str

In [40]:
int(a)

4

In [42]:
c = float(a)
type(c)

float

In [43]:
float(c)

4.0

In [44]:
a = "Huzaifa"
b = 5
a + b

TypeError: can only concatenate str (not "int") to str

In [45]:
a = "Huzaifa"
b = " Ansari"
a + b  #Concatination of string>> meaning combine the string

'Huzaifa Ansari'

In [47]:
a = "200"  # bcz here i write digit in string datatype 
b = " Huzaifa"
a + b

'200 Huzaifa'

In [48]:
# Boolean Typecasting >> Every number which is above 0 is treated as true
bool(0)

False

In [49]:
bool(1)

True

In [50]:
bool(2)

True

In [51]:
bool(100)

True

In [52]:
bool(100000)

True

In [53]:
bool("Huzaifa")

True

In [54]:
bool(" ")

True

In [55]:
bool("")  #empty string without including space so it return false

False

In [56]:
bool(-3)

True