In [1]:
# Tuples are ordered collection of elements, heterogenous
# Tuples are immutable
# if u dont want to modify ur data then use TUPLES denoted by -->(0,1,,,,,,n)

In [3]:
t = ()
type(t)

tuple

In [4]:
t = ('pwakills', "Huzaifa", 2, 5, 9+3j)

In [5]:
type(t)

tuple

In [6]:
t[0]

'pwakills'

In [7]:
t[-1]

(9+3j)

In [8]:
# Tuples are immutable
t[0]

'pwakills'

In [9]:
t[0]= 100

TypeError: 'tuple' object does not support item assignment

In [10]:
# use > use tuples as a data structure where you dont want to modify the data
empid = (1, 2, 3, 4, 5)
empid[1] =100

TypeError: 'tuple' object does not support item assignment

In [26]:
tuple1= ("pwskills", 1,2, 3,4,"pwskills", 1,2.2)
tuple1.count(1)

2

In [27]:
tuple1.count('pwskills')

2

In [28]:
tuple1.index('pwskills')

0

In [29]:
print(tuple1 * 2)

('pwskills', 1, 2, 3, 4, 'pwskills', 1, 2.2, 'pwskills', 1, 2, 3, 4, 'pwskills', 1, 2.2)

In [30]:
tuple1[0:4]

('pwskills', 1, 2, 3)

In [31]:
tuple1[::-1] #reverse the element from end to start

(2.2, 1, 'pwskills', 4, 3, 2, 1, 'pwskills')

In [34]:
for i in tuple1:
    print(i, type(i))

pwskills <class 'str'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
pwskills <class 'str'>
1 <class 'int'>
2.2 <class 'float'>

In [35]:
t1 = (1, 2, 100, 0, 200)
max(t1)

200

In [36]:
min(t1)

0

In [37]:
t2 = (101, 201)
t2

(101, 201)

In [38]:
t3 = (t1, t2) #nested tuple

In [39]:
t3

((1, 2, 100, 0, 200), (101, 201))

In [40]:
type(t3)

tuple

In [41]:
del t3  #--> to delete t3 variable use del command

In [43]:
t3

NameError: name 't3' is not defined

In [44]:
t1

(1, 2, 100, 0, 200)

In [45]:
len(t1)

5

In [46]:
t1

(1, 2, 100, 0, 200)

In [47]:
1 in t1

True

In [48]:
tuple1

('pwskills', 1, 2, 3, 4, 'pwskills', 1, 2.2)

In [49]:
"pwskills" in tuple1

True

In [50]:
"pwskills" not in tuple1

False

In [51]:
t1

(1, 2, 100, 0, 200)

In [52]:
t2

(101, 201)

In [53]:
# combining both the tuples
t1 + t2

(1, 2, 100, 0, 200, 101, 201)

In [54]:
# sets >> sets are unordered and unique collection of element
# it doesn't allow duplicate elements
# it is unordered>> indexing will not work
# denoted by --> {,,,,,}  >> age empty hoga to dictionary bn jayega

In [55]:
set ={}
type(set)

dict

In [56]:
set = {1,2,3}

In [57]:
type(set)

set

In [58]:
s = {1, 2, 1, 2, 2,"Huzaifa", "Huzaifa", "Huzaifa", "huzaifa", "huzaifa"}
s

{1, 2, 'Huzaifa', 'huzaifa'}

In [93]:
# use case
list1 = [1, 2, 3, "brinjal", "Brinjal", "Apple", "Apple"]
m= list1

In [94]:
m

[1, 2, 3, 'brinjal', 'Brinjal', 'Apple', 'Apple']

In [95]:
list1 = list(m)

In [96]:
m

[1, 2, 3, 'brinjal', 'Brinjal', 'Apple', 'Apple']

In [97]:
s = {1, 1, 2, 2, 3, 4}
s

{1, 2, 3, 4}

In [99]:
s = {1, 2, 3, 4, 5,{4, 5, 6}} #set inside set must be immutable --> gives unhashable type error
# unhashable type>> it is mutable-list, set.
#immutable data structure has a stable hash values like tuples

TypeError: unhashable type: 'set'

In [101]:
{1, 2, 3, [6,7,8]}

TypeError: unhashable type: 'list'

In [103]:
# but if you write tuple in a set then it will execute
{1,2,3,4,(6,7,8)} #it didn't  throw error, bcz tuple is immutable

{(6, 7, 8), 1, 2, 3, 4}

In [104]:
s[0] #not indexed

TypeError: 'set' object is not subscriptable

In [105]:
s[:2]

TypeError: 'set' object is not subscriptable

In [106]:
for i in s:
    print(i)

1
2
3
4

In [107]:
#set is mutable
s

{1, 2, 3, 4}

In [108]:
s.add(100)

In [109]:
s

{1, 2, 3, 4, 100}

In [110]:
s.add(5) # not compulsory that it will add to the last of set

In [111]:
s

{1, 2, 3, 4, 5, 100}

In [112]:
s.pop() # it is not compulsory that it will remove that last element

1

In [114]:
s.remove(3) #removes a specific element

In [115]:
s

{2, 4, 5, 100}

In [116]:
s.pop(4) #it removes randomly

TypeError: set.pop() takes no arguments (1 given)

In [118]:
s.remove(102)

KeyError: 102

In [120]:
s.update("Huzaifa") #updates take iterable

In [121]:
s

{100, 2, 4, 5, 'H', 'a', 'f', 'i', 'u', 'z'}

In [122]:
s.update(["Huzaifa"])

In [123]:
s

{100, 2, 4, 5, 'H', 'Huzaifa', 'a', 'f', 'i', 'u', 'z'}

In [124]:
s.update([2,3])

In [125]:
s

{100, 2, 3, 4, 5, 'H', 'Huzaifa', 'a', 'f', 'i', 'u', 'z'}

In [126]:
s = {(1, 2, 3), 100, '2', 3.4}

In [127]:
type(s)

set

In [128]:
s.clear()

In [129]:
s

set()

In [130]:
del s

In [131]:
s

NameError: name 's' is not defined

In [137]:
s = {(1, 2, 3), 100, 101, 102,'2', 3.4}

In [138]:
s

{(1, 2, 3), 100, 101, 102, '2', 3.4}

In [139]:
s.remove(101)