In [1]:
# functions>> print() >> print, len, type these are inbuilt function 
# ceil > Roof>> gives nearest highest whole no value
# floor > ground>> gives nearest lowest whole no value

In [2]:
import math as m

In [5]:
m.ceil(5.6)

6

In [6]:
m.floor(4.8)

4

 functions are mainly two type:
 built-in function
 user-define function

In [ ]:
# function is a block of code which perform some specific task/computation
# why function? >> bcz functions are reuseable, neat, clean, well-organised, saves ur time

In [8]:
#                     BUILT-IN FUNCTION
# print, type, ceil, floor

# syntex of function
# def function:
#     do something >> body of function

In [14]:
def greetings():
    print("Welcome to my kingdom")

In [15]:
greetings()

Welcome to my kingdom

In [21]:
def greetings(name):  #passing a variable inside a function >> name is called Positional Arguement
    print("Welcome to my kingdom", name)

In [22]:
greetings("Huzaifa Sir")

Welcome to my kingdom Huzaifa Sir

In [23]:
greetings("huh")

Welcome to my kingdom huh

In [24]:
greetings() #this will throw an error

TypeError: greetings() missing 1 required positional argument: 'name'

In [28]:
def greet(kuchbhi):
    print("Welcome to my kingdom", kuchbhi)

In [29]:
greet("Huzaifa")

Welcome to my kingdom Huzaifa

In [30]:
def func():
    print("This is my first function")

In [32]:
func() + " In python" # >>throw an error >>>>> +: 'NoneType' and 'str'

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [34]:
print(type(func()))

This is my first function
<class 'NoneType'>

In [42]:
# to concatenate use return instead of print
def func():
    return "This is my first function" #>> output of a function
func()  #functionality of string is, should have single quote in output

'This is my first function'

In [43]:
def func():
    return "This is my first function"
func() + ' in python'

'This is my first function in python'

In [53]:
def func():
    return "This is data science course", 1, 3.4, True, 4+9j

In [54]:
a = func() # this will return in tuple

In [55]:
type(a)

tuple

In [64]:
a, b, c, d, e = func()

In [65]:
a

'This is data science course'

In [66]:
b

1

In [67]:
c

3.4

In [68]:
d

True

In [69]:
e

(4+9j)

In [70]:
a = func()

In [71]:
a

('This is data science course', 1, 3.4, True, (4+9j))

In [72]:
a[0]

'This is data science course'

In [73]:
a[3]

True

In [74]:
a[2]

3.4

In [75]:
a[1]

1

In [77]:
a[4]

(4+9j)

In [78]:
def func():
    calc = 2+3+5*6
    return calc

In [79]:
func()

35

In [80]:
type(func())

int

In [81]:
def square_no(a): #a is a arguement
    return a*a

In [82]:
square_no(4)

16

In [83]:
def square_no(args):
    return(args*args)

In [86]:
square_no(106)

11236

In [88]:
def addition(a, b):
    return a+b
addition(8, 2)

10

In [90]:
addition("Huzaifa", " ansari") #also use as concatenation

'Huzaifa ansari'

In [91]:
addition([1,2,3], [4,5,6]) #>> + will combining the list

[1, 2, 3, 4, 5, 6]

In [92]:
def addition(a, b): #here a and b are positional argument >> it maintains the order
    return a+b

In [93]:
addition("skill", "pw")

'skillpw'

In [95]:
addition(b="skills", a="pw")

'pwskills'

In [96]:
def sum1(a, b, c):
    return a+b+c

In [97]:
sum1(1,2,3)

6

In [102]:
# default argument
def sum1(b, c, a=0): #default argument is passed to function in the last >> non-default argument follows default argument
    return a+b+c

In [103]:
sum1(b=3, c=5)

8

In [111]:
def adds(a=0, b=5,c=0):
    return a+b+c

In [112]:
adds(5,5)

10

In [117]:
adds(1)

6

In [118]:
adds()

5

In [116]:
adds(0,1)

1

In [115]:
adds(c=1)

6

In [119]:
adds(a=1)

6

In [122]:
def add_two_no():
    a = int(input("Enter first no "))
    b = int(input("Enter second no "))
    return a+b

In [123]:
add_two_no()

Enter first no 3
Enter second no 9

12

In [134]:
# Write a functions that take list as input and return all the numeric values in list
def only_numeric(a):
    n = []  #for all numeric value
    for i in a:
        if type(i) == int or type(i) == float: #or type(i) == complex:
            n.append(i) # append just keep adding the value if condition is satisfy
    return n

In [135]:
only_numeric([1,2,2.4,"Huzaifa", True, 3+4j])

[1, 2, 2.4]

In [136]:
# now in input take nested list
# only_numeric([1,2,2.4,"Huzaifa", True, 3+4j, [100,101,102]])

[1, 2, 2.4]

In [169]:
def only_numeric(a):
    n = []  #for all numeric value
    for i in a:
        if type(i) == list:
            for j in i:
                    if type(j) == int or type(j) == float:
                        n.append(j)
        else:
            if type(i) == int or type(i) == float:  #or type(i) == complex:
                n.append(i) # append just keep adding the value if condition is satisfy
    return n

In [170]:
only_numeric([1,2,2.4,"Huzaifa", True, 3+4j, [100,101,102,"Huzzu"]])

[1, 2, 2.4, 100, 101, 102]

In [171]:
def sums(a, b):
    return a+b
# but some time you have so much no to add and your arguement is n length
# >> variable length arguement>> when you dont know the length of arguement

In [174]:
'''when you put star it will automatically understand that this is a variable arguement it can be a 
any length'''
'''When you put astric then function understand the length of arguement is not fixed'''
def sums(*args):
    return args

In [175]:
sums(1,2,2,3,4,5,5)

(1, 2, 2, 3, 4, 5, 5)

In [177]:
for i in (1, 2, 3, 4, 5, 6, 7):
    print(i)

1
2
3
4
5
6
7

In [187]:
# A function which can take any no of value and return the sum
def func(*args):  #(5, 6, 7, 8)
    s = 0
    for i in args:
        s = s+i  #0+5>> 5+6 >> 11+7 >> 18+8
    return s

In [188]:
func(5, 6, 7, 8)

26

In [189]:
func(1,2)

3

In [190]:
func(1,) #it will not throw an error

1

In [191]:
# variable arguement with default arguement
def func(*arge, a):
    return arge, a

In [192]:
func(1, 2, 3, a = 100)

((1, 2, 3), 100)

In [193]:
func(1, 2, 3)

TypeError: func() missing 1 required keyword-only argument: 'a'

In [194]:
# variable arguement >> takes any no of arguement
#positional arguement >> fixed arguement

In [195]:
# write a function can take any no of values and returns the list amoung those value

In [196]:
def return_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [197]:
return_list(1,2, 2.4, 5+7j, {2,4}, [1,2,3,4,5],(9,10,11),True, "yoyohuzaifa", [9,8,7,[32,34,45]])

[[1, 2, 3, 4, 5], [9, 8, 7, [32, 34, 45]]]

In [204]:
# def return_dic(*args):
#     d = ()
#     for i in args:
#         if type(i) == dict:
#             d.append(i)
#     return d

In [221]:
def team(name, project):
    return f"{name} is working on {project}"

In [228]:
def test1(*args, **args1):
    return args, args1

In [229]:
test1(1,2,3,4,a=100, b=50)

((1, 2, 3, 4), {'a': 100, 'b': 50})

In [230]:
# python namespace

def greet():
    message = "hello, welcome" #message variable is a local variable
    print(message)

In [231]:
greet()

hello, welcome

In [233]:
print(message)

NameError: name 'message' is not defined

In [236]:
subpart = " to the course"  #global variable >> can be accessed outside the function as well
def greet():
    message = "Hello, welcome" + subpart
    print(message)

In [237]:
greet()

Hello, welcome to the course

In [240]:
print(message)

NameError: name 'message' is not defined

In [239]:
#  namespace>> scope of variables
# local variable >> a function define inside a function should be accessed in the function only
# global variable >> accessed any where

In [246]:
# function inside function

def marks_in_subject(**kwargs):
    def total_marks(marks_list):
        return sum(marks_list)
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
    return marks_list

In [244]:
marks_in_subject(a= 90, b=20)

[90, 20]

In [248]:
sum([90,20])

110

In [249]:
def marks_in_subject(**kwargs):
    def total_marks(marks_list): #here it act like local function
        return sum(marks_list)
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
        
    return total_marks(marks_list)

In [253]:
marks_in_subject(a = 90, b=40, c=30)

160

In [254]:
# calling function from outside
def total_marks(marks_list): #it act like global function here
    return sum(marks_list)

def marks_in_subject(**kwargs):
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
        
    return total_marks(marks_list)

In [255]:
marks_in_subject(a = 90, b = 40, c = 30, d = 100)

260

In [256]:
def find_power(num, power):
    return num*power

In [257]:
find_power(2, 5)

10

In [258]:
find_power(3,9)

27

In [261]:
find_power(4, 50)

200

In [262]:
def find_power(num, power):
    '''this function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
            integer: power of no
    '''
    return num*power

In [263]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    this function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
            integer: power of no

In [265]:
print(find_power.__doc__)

this function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
            integer: power of no