### Lambda

In [1]:
# Lambda function is also called >> anonymuos function or short hand function
# syntex

# lambda arguements: expression >> no need of return statement and def keyword as well

In [2]:
def square(x):
    return x**2
square(4)

16

In [4]:
# but this code will wrote in single line by using lambda keyword
sqr_lambda = lambda x: x**2

In [5]:
sqr_lambda(3)

9

In [6]:
sqr_lambda(2)

4

In [8]:
add = lambda a, b: a+b

In [9]:
add(2,5)

7

In [10]:
is_even = lambda a: a%2==0

In [11]:
is_even(5)

False

In [12]:
is_even(8)

True

In [13]:
x = ["python", "data science", "huzaifa"]
x

['python', 'data science', 'huzaifa']

In [15]:
sorted(x) #by default sorting based on alphabetical order

['data science', 'huzaifa', 'python']

In [17]:
# sort the list based on length of element of list
# length ke according sort krega ascending order me, 
le = lambda x: len(x)
le("huzaifa")

7

In [18]:
sorted(x, key = lambda x: len(x))

['python', 'huzaifa', 'data science']

In [23]:
# fibonacci series >> sum of last two digits
fib = lambda n: n if n<=1 else fib (n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [24]:
# factorial of 5 >> 5*4*3*2*1 and 0! is 1

In [29]:
def fact_num(n):
    if n==0:
        return 1
    else:
        return n*fact_num(n-1)

In [30]:
fact_num(5)

120

In [38]:
# write this function in lambda

fctnum = lambda n: 1 if n==0 else n*fctnum (n-1)

In [39]:
ftnum(5)

120

### Map>> execute a specified function for each of item of an iterable 

syntax>> map(func, *iterables)

In [94]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [48]:
l = [5, 6, 7, 8, 9]
def square(l):
    sq=[]
    for i in l:
        sq.append(i**2)
    return sq

In [49]:
square(l)

[1, 4, 9, 16, 25]

In [53]:
# def sq(x):
#     return x**2

In [59]:
l

[1, 2, 3, 4, 5]

In [60]:
# map(func, iterable)
list(map(sq, l))

[1, 4, 9, 16, 25]

In [65]:
h = [1, 2, 3, 4, 5]

In [66]:
def add(x):
    return x+10

list(map(add, h))

[11, 12, 13, 14, 15]

In [68]:
# using lambda with map
list(map(lambda x: x**2, h))

[1, 4, 9, 16, 25]

In [69]:
list(map(lambda x: x+10, h))

[11, 12, 13, 14, 15]

In [73]:
l = ["1", "2", "3"]
list(map(lambda x: int(x), l))

[1, 2, 3]

In [75]:
p = ["1", "2", "3"]
set(map(lambda x: float(x), p))

{1.0, 2.0, 3.0}

In [80]:
w1 = [100, 200, 300, 400]
w2 = [1, 2, 3, 4]
tuple(map(lambda x,y: x+y, w1,w2 ))

(101, 202, 303, 404)

In [81]:
s = "pwskills"
list(map(lambda x: x.upper(), s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [89]:
u = "Huzaifa"
# list(map(lambda x: x.upper(),u))
list(map(str.capitalize,u)) # both method will work  same for string

['H', 'U', 'Z', 'A', 'I', 'F', 'A']

In [88]:
words =['python', 'huzaifa']
list(map(str.capitalize, words))

['Python', 'Huzaifa']

In [93]:
grade = ["A", "B", "C", "D"]
list(map(lambda grade: 4 if grade == "A" else (3 if grade == "B" else (2 if grade == "C" else 1 )), grade))

[4, 3, 2, 1]

### Reduce

In [4]:
# reduce>> folding/ reduction
# syntax>> reduce(func, iterable)
#reduce will always take two arguement function
from functools import reduce

In [7]:
lst = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x,y :x+y, lst) #reduce will always take two arguement function

25

In [12]:
lst = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x,y,z :x+y+z, lst)#this will throw error

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [13]:
lst = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x,y :x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [14]:
lst = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x,y :x*y, lst)

2880

In [15]:
words = ["Data", "science", "courses"]
reduce(lambda x, y: x+" "+y, words)

'Data science courses'

In [16]:
# the highest values at each stage you are comparing x and y
numbers = [1, 2, 5, 3,100,1000, 6, 10000]
reduce(lambda x, y: x if x>y else y, numbers)

10000

In [17]:
def factorial(n):
    return reduce(lambda x,y: x*y, range(1, n+1))

In [18]:
factorial(5)

120

### Filter

In [19]:
# filter function>> it is used to filter elements from an iterable based on same condition
# syntax filter(function, iterable)

In [20]:
lst = [2, 1, 3, 4, 4, 5, 6]

In [21]:
lst

[2, 1, 3, 4, 4, 5, 6]

In [23]:
list(filter(lambda x: x%2==0, lst ))

[2, 4, 4, 6]

In [24]:
list(filter(lambda x: x%2!=0, lst ))

[1, 3, 5]

In [26]:
l1 =[-1, 3, 4, -2, 5]
list(filter(lambda x: x < 0, l1))

[-1, -2]

In [27]:
list(filter(lambda x: x > 0, l1))

[3, 4, 5]

In [28]:
s = ["Huzz", "pwskill", "data science"]
list(filter(lambda x: len(x)>4, s))

['pwskill', 'data science']

In [40]:
def check_even(num):
    if num%2 == 0:
        return True

In [41]:
num = [1, 2, 4, 3, 7, 6, 8, 9, 10]
list(filter(check_even, num))

[2, 4, 6, 8, 10]