In [1]:
# Data Structure>> The way of organising and string data so that it can be accessed and manipulated efficiently
# Bcz there is no use of data of the data will not accessed and manipulate

In [2]:
# Data structure>> includes string, list, set, tuples, dictionary, arrays

In [3]:
# List>> you can store anything in list
# >> it store heterogenous data(int, float, etc)
# >>ordered collection of element that can be any type
# >> List are mutable

List

In [10]:
a = [1, 2, 3, "tomato", "baingan", "anannas", 3+4j, True, False]
# List can store anything >> Heterogenous data structure

In [11]:
a

[1, 2, 3, 'tomato', 'baingan', 'anannas', (3+4j), True, False]

In [12]:
# adding element to the list by using .append()
a.append("Remote control car")

In [13]:
a

[1,
 2,
 3,
 'tomato',
 'baingan',
 'anannas',
 (3+4j),
 True,
 False,
 'Remote control car']

In [15]:
a.remove("Remote control car")

In [16]:
a

[1, 2, 3, 'tomato', 'baingan', 'anannas', (3+4j), True, False]

In [18]:
liss = [[1,2,3],[4,5,6],[7,8,9]]

In [19]:
liss[0][1]

2

In [20]:
liss[1][2]

6

In [21]:
liss[2][2]

9

In [33]:
shopping_lst = ['banana', 'Apple', 2 , 3, 3.43]
shopping_lst[0] = "tomato"

In [34]:
shopping_lst

['tomato', 'Apple', 2, 3, 3.43]

In [35]:
# Iteration
for item in shopping_lst:
    print(item, end=" ")

tomato Apple 2 3 3.43

 Tuple<< are Immutable

In [36]:
# use of tuple>> immutable means elem cannot be changed like aadhar no, ATM card no. employ id so in 
# in that case we use tuple
point = (4,5)
type(point)

tuple

In [37]:
point

(4, 5)

In [43]:
# tuple can store any data type like string, int, float etc
t = (1, 2, True, 3, 4+8j, "Huzaifa")
type(t)

tuple

In [44]:
t

(1, 2, True, 3, (4+8j), 'Huzaifa')

In [51]:
emp_name = ["Huzaifa", "Ajay", "Rohan", "Carry"]

In [52]:
emp_name[2] = "Jorden" #tuples are immutable

In [65]:
box1 = ("a", "b")
box2 = ("c", "d")
bag = (box1, box2)

In [68]:
for box in bag:
    for choc in box:
        print(choc)

a
b
c
d

# Set>> are unordered collection of unique element

In [70]:
s ={'red', 'orange', 'blue', 'red', 'white', 'red', 'black'}
s

{'black', 'blue', 'orange', 'red', 'white'}

In [71]:
type(s)

set

In [72]:
s = {'a', 'a', 'a', 1, 2, 1, 1.4, 1,4}

In [73]:
s

{1, 1.4, 2, 4, 'a'}

In [74]:
s[0] # Error>> no concept of indexing here as a unordered and unique element

TypeError: 'set' object is not subscriptable

In [75]:
# use case of set >> to get unique element
grocery_List= {'apple', 'banana', 'banana', 'mango', 'egg', 'egg'}
grocery_List

{'apple', 'banana', 'egg', 'mango'}

# Dictionary >> stored data in the form of key value pair

In [77]:
dictionary = {"course" : "PwSkills", "Duration" : 200}

In [78]:
dictionary

{'course': 'PwSkills', 'Duration': 200}

In [79]:
type(dictionary)

dict

In [80]:
# use case 
phonebook = {"papa" : 9709, "Mom" : 587}
phonebook

{'papa': 9709, 'Mom': 587}

In [81]:
phonebook["papa"]

9709

In [82]:
phonebook["Mom"]

587

In [83]:
phonebook = {"papa" : 9709, "Mom" : 587, "papa" : 8665} #In this case first value is orverwrite on second value
phonebook

{'papa': 8665, 'Mom': 587}

In [85]:
rest_menu = {'paneer kofta' : 450, 'Biryani' : 300}

In [86]:
rest_menu

{'paneer kofta': 450, 'Biryani': 300}

In [87]:
rest_menu["paneer kofta"] = 200

In [88]:
rest_menu

{'paneer kofta': 200, 'Biryani': 300}

In [90]:
rest_menu.keys()

dict_keys(['paneer kofta', 'Biryani'])

In [91]:
rest_menu.values()

dict_values([200, 300])

In [92]:
phonebook.keys()

dict_keys(['papa', 'Mom'])

In [93]:
phonebook.values()

dict_values([8665, 587])

# array is similar to list>> stored Hetrogenous data, either only int or only string or only float